*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  min-height: 100%;
}

body {
  font-family: 'Arial Narrow', 'Helvetica Neue Condensed', 'Arial', sans-serif;
  background: #050505;
}

button {
  font: inherit;
}
